/* ================================================================================================================= */
/* ==================== Mixins ==================== */

@import 'mixinsAndVariables.scss';

/* ================================================================================================================= */
/* ==================== Fonts ==================== */

@import 'fonts';

/* ================================================================================================================= */
/* ==================== Zero styles ==================== */

@import 'nullStyle.scss';

/* ================================================================================================================= */
/* ==================== Your code ==================== */

.wrapper {
  display: flex;
  flex-direction: column;
}
[class="__container"] {
  max-width: $maxWidth;
  margin: 0 auto;
}

/* ================================================== */


/* ================================================================================================================= */
